<html>
  <body>
    <h1>Hola {{name}},</h1>
    <p>Gracias por registrarte. Por favor, haz clic en el siguiente enlace para activar tu cuenta:</p>
    <a href="{{activationUrl}}">Activar cuenta</a>
    <p>Si no solicitaste esta cuenta, ignora este correo.</p>
  </body>
</html>